@charset "utf-8";
/* CSS Document */

/* font family coqueeta
	
	collors;
	Light purpele: #E0C4F2
	grape purple: #8850BF
	dark purple: #392259
	medium purple: #5A278C
	MIDNIGHT PURPLE: 190F26
*/


/* stylesteet */

* {
	margin:0px;
	padding: 0px;
}

body {
margin: 0;
padding: 0;
background-color: #392259;
}

header{
	align-content: center center;
	color: white;
	text-align: center;
	background-color: #8850BF;
}

.container{
	background-color: #8850BF;
}
.clear_float {
clear: both; /* Clears both left and right float */
}

.center_text {
text-align: center center;
}

.column_1 {
box-sizing: border-box; /* So that padding/border is included in width */
float: left;
width: 100%; /* Fractional pixels don't really make sense, so this seems funky. */
margin: 0px; /* But 2 of these add up to approx 100%, so Web browsers render the columns correctly. */
padding: 10px;
background-color: #8850BF;
}

/* Classes for the column wrappers and column blocks */

.centered_column_wrapper { /* Centers a row of columns */
width: 1280px;
margin: 0 auto;
background-color: #8850BF;

}

/* 2 column Classes for the column wrappers and column blocks */

.column_2 {
box-sizing: border-box; /* So that padding/border is included in width */
float: left;
width: 50%; /* Fractional pixels don't really make sense, so this seems funky. */
margin: 0px; /* But 2 of these add up to approx 100%, so Web browsers render the columns correctly. */
padding: 10px;
}


/* 3 column Classes for the column wrappers and column blocks */

.column_3 {
box-sizing: border-box; /* So that padding/border is included in width */
float: center center;
width: 33.3333%; /* Fractional pixels don't really make sense, so this seems funky. */
margin: 0px; /* But 3 of these add up to approx 100%, so Web browsers render the columns correctly. */
padding: 10px;
}

/* 4 column Classes for the column wrappers and column blocks */
.column_4 {
box-sizing: border-box; /* So that padding/border is included in width */
float: left;
width: 25%;
margin: 0px;
padding: 10px;
}

.btn{
	background-color: red;
	text-align: center center;
	width: 148px;
	height: 50px;
	border: thick double white;
}

.media{
	float: center;
	position: inline;
}
footer{
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align: center;
    background-color: #392259;
    color: #FFFFFF;
}
